.button-pokimin {
    width: 20%;
    margin: 5px;
    table-layout: fixed;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.button-page {
    width: 20%;
    margin: 5px;
    table-layout: fixed;
    border-collapse: collapse;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}